* {
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    background-color: #E5D68A;
  }
#container{
    text-align: center;
    font-family:'Rubik';
}
#heading{
    text-align: center;
    font-size: 70px;
}
.counter{
    text-align: center;
    font-size: 75px;
}
.btn{
  margin-top: 15px;
  background-color:#242B2E;
  border-radius:8px ;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  cursor: pointer;
}
.button{
    text-align: center;
}
.btn:hover{
    border: #f1f8f5;
    background-color: #A77B06;
}
